.image-container img {
    height: 200px;
    width: auto;
    padding: 1px;
}

#p-body {
    margin-left: 250px;
}

@media only screen and (max-width: 600px){
    #p-body {
        margin-left: unset;
    }
}
